.BASE {
    height: 610px;
    width: 71.5%;
    margin: 90px auto;
    border: 2px solid black;
    background-color: white;
}

.PRODUCT_DIV {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 60px;
}


/* FINAL CSS */