.BASE {
    height: 730px;
    width: 72%;
    margin: 90px auto;
    border: 2px solid black;
    background-color: white;
}

.PRODUCT_DIV {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 10px;
}

.PRICE_LABLE {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* FINAL CSS */